<p id="notice"><%= notice %></p>

<p>
  <strong>Dashboard:</strong>
  <%= @dashboard_cell.dashboard_id %>
</p>

<p>
  <strong>Visualization:</strong>
  <%= @dashboard_cell.visualization_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @dashboard_cell.position %>
</p>

<%= link_to 'Edit', edit_dashboard_cell_path(@dashboard_cell) %> |
<%= link_to 'Back', dashboard_cells_path %>
