<%= form_for(@visualization, html: { class: 'visualization' }) do |f| %>
  <% if @visualization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visualization.errors.count, "error") %> prohibited this visualization from being saved:</h2>

      <ul>
      <% @visualization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="field">
    <%= f.label :component %><br>
    <%= f.check_box :component %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :data_point_name %><br>
    <%= f.select :data_point_name, DataPoint.select(:name).distinct.reorder(:name).map(&:name), include_blank: '- optional -' %>
  </div>
  <div class="field">
    <%= f.label :markup_type %><br>
    <%= f.select :markup_type, [ 'html', 'slim', 'erb' ] %>
  </div>
  <div class="field">
    <%= f.label :markup %><br>
    <%= f.text_area :markup %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
