<p id="notice"><%= notice %></p>

<p>
  <strong>Enabled:</strong>
  <%= @visualization.enabled %>
</p>

<p>
  <strong>Name:</strong>
  <%= @visualization.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @visualization.slug %>
</p>

<p>
  <strong>Markup type:</strong>
  <%= @visualization.markup_type %>
</p>

<p> <%= link_to "See on site", render_visualization_path(@visualization.slug), target: "_blank" %></p>

<%= link_to 'Edit', edit_visualization_path(@visualization) %> |
<%= link_to 'Back', visualizations_path %>
