<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dashboard.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @dashboard.slug %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @dashboard.enabled %>
</p>

<p>
  <strong>Refresh:</strong>
  <%= @dashboard.refresh %>
</p>

<p>
  <strong>Css:</strong>
  <%= @dashboard.css %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @dashboard.columns %>
</p>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>
