<!DOCTYPE html>
<html>
<head>
  <title>Thirdfloor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    '//yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css' %>
  <%= stylesheet_link_tag    '//yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
</head>
<body>
  
  <div id="menu-link" title="Menu" class="<% if request.path == '/' || request.path =~ /^\/dashboard\// %>autohide-menu<% end %>">
    <i class="fa fa-bars"></i>
  </div>
  <div id="menu" class="pure-menu pure-menu-horizontal <% if request.path == '/' || request.path =~ /^\/dashboard\// %>autohide-menu<% else %>static-menu pure-menu-open<% end %>">
    <ul>
      <li class="hide-menu-link"><a href="#">Close</a></li>
      <li class="<% if request.path == root_path %>pure-menu-selected<% end %>"><a href="<%= root_path %>" data-no-turbolink>Home</a></li>
      <%-
        [
          [ visualizations_path, 'Visualizations' ],
          [ dashboards_path, 'Dashboards' ],
          [ data_points_path, 'Data Points'],
          [ stations_path,  'Stations' ]
        ].each do |path, text|
      %>
        <li class="<% if request.path =~ /^#{path.gsub('/', '\/')}/ %>pure-menu-selected<% end %>">
          <a href="<%= path %>"><%= text %></a>
        </li>
      <% end -%>
    </ul>
  </div>

  <div class="content">
    <%- if (nn = flash[:notice]).present? %>
      <div class="notice"><%= nn %></div>
    <% end -%>
    <%= yield %>
  </div>

</body>
</html>
